@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap");

:root {
  --BackGroundDark: #4a0477;
  --Background: #9a60bb;
  --NavBar: #751daf;
  --Container: #3c0663;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--Background);
  height: calc(100vh- 8vh);
  color: white;
  font-family: "Lexend Deca";
}

#menu {
  display: flex;
  justify-content: space-between;
  background-color: var(--NavBar);
  height: 8vh;
  padding-left: 0.875rem;
  padding-right: 0.875rem;
}

#menu .vidinha {
  width: 12vw;
  position: relative;
  right: 2.7rem;
}

.Paicontainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
  gap: 4rem;
}

.container1-1 {
  width: 80vw;
  height: 35vh;
  background: var(--BackGroundDark);
}

.container2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container2 img {
  width: 7vw;
  height: 13vh;
}

.container2-1,
.container2-2 {
  background: var(--BackGroundDark);
  width: 30vw;
  height: 35vh;
  margin: 0 5.5rem;
}
