@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap");

:root {
  --BackGroundDark: #4a0477;
  --Background: #9a60bb;
  --NavBar: #751daf;
  --Container: #3c0663;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--Background);
  height: calc(100vh - 8vh);
  color: white;
  font-family: "Lexend Deca";
}

#menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--NavBar);
  height: 8vh;
  padding-left: 0.875rem;
  padding-right: 0.875rem;
}

#menu .vidinha {
  width: 12vw;
  position: relative;
  right: 2.7rem;
}

#nav.hamburger {
  cursor: pointer;
  width: 40px;
  height: 40px;
}

.menu-items {
  display: none; /* Oculto por padrão */
  list-style-type: none;
  position: absolute;
  top: 8vh;
  left: 0;
  background-color: var(--BackGroundDark);
  width: 10vw;
  padding: 1rem;
  text-align: left;
}

.menu-items li {
  margin: 10px 0;
}

.menu-items li a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
}

.menu-items li a:hover {
  color: var(--Background);
}

h1 {
  text-align: center;
}

.Paicontainer {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 1rem;
  justify-content: center;
}

.Paicontainer .container {
  height: 35vh;
  width: 15vw;
  background: var(--BackGroundDark);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 7px;
  box-shadow: 3px 2px 2px rgba(8, 8, 8, 0.26);
}

.container img {
  width: 12vw;
  height: 25vh;
}

@media (max-width: 768px) {
  #menu .vidinha {
    width: 25vw;
  }

  .Paicontainer .container {
    width: 45vw;
  }

  .container img {
    width: 35vw;
  }
}
